html, body {
  height: 100%;
}

p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../images/white-waves.png)
}

.h1, h1 {
    font-weight: bold;
    font-size: 1.5em;
}

/* Navbar Styling */
.navbar-brand {
    margin-left: 5%;
    background-color: #00B1FF;
    color: white;
    padding: 20px;
}

#flex-adjust {
  align-items: flex-end;
}

#brand {
    color: white;
    font-size: 32px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

.navbar {
    padding: 0;
    border-bottom: 1px solid #cccccc;
    background-color: white;
}

.nav-item {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding: 0 20px;
}

.fixed-top {
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
}

.navbar-toggler {
    margin-right: 3%;
}

/* Main Section Content */
body > .container-fluid {
  padding-top: 100px;
  padding-bottom: 25px;
  flex: 1 0 auto;
}

.container-fluid > .row > .body-section {
  background-color: white;
  padding: 25px;
  margin: 0 auto;
  /* flex: 1 0 auto;
  height: 100%; */
}

#about-me {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #00B1FF;
  padding-bottom: 25px;
  border-bottom: 3px solid #DEDEDE;
  margin-bottom: 30px;
}

.aboutMeSection {
  display: flex;
  justify-content: space-evenly;
}

.aboutMeSection p {
  width: 60%;
}

.profile-content {
  width: 30%;
  max-width: 280px;
  display: flex;
  margin-right: 30px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #888888;
}

.profile-content h3 {
  padding: 10px;
  color: white;
  background-color: #00B1FF;
  width: 100%;
  border-radius: 0 0 10px 10px;

}

.profile-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.profile-links a {
  display: block;
  font-size: 1.25rem;
}

#profile-picture {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

/* Footer Styling */
.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 88px;
  background-color: #002C40;
  text-align: center;
  line-height: 80px;
  color: white;
  border-top: 8px solid #00B1FF;
}

.footer > .container > p {
  margin: 0;
}

/* Portfolio CSS */
.grid-images, .body-section {
  background-color: white;
  padding: 2% 5%;
}

.grid-images img {
  width: 100%;
  position: relative;
}

.image-text {
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: -20%;
  margin-bottom: 50px;
  padding: 15px 0;
  background-color: #00B1FF;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.image-row {
  margin-bottom: 20px;
}

.frame {
  margin-bottom: 20px;
  overflow: hidden;
}

/* Contact Form Styling */
#form-button {
  background-color: #00B1FF;
}
