html, body {
  height: 100%;
}

p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../images/white-waves.png)
}

.h1, h1 {
    font-weight: bold;
    font-size: 1.5em;
}

/* Navbar Styling */
.navbar-brand {
    margin-left: 5%;
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
}

#flex-adjust {
  align-items: flex-end;
}

#brand {
    color: white;
    font-size: 32px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
}

.navbar {
    padding: 0;
    border-bottom: 1px solid #cccccc;
    background-color: white;
}

.nav-item {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding: 0 20px;
}

.fixed-top {
  /* position: fixed; */
  top: 0;
  right: 0;
  left: 0;
}

#navbarNav {
    /* margin-right: 5%; */
}

.navbar-toggler {
    margin-right: 3%;
}

/* Main Section Content */
body > .container-fluid {
  padding-top: 100px;
  padding-bottom: 25px;
  flex: 1 0 auto;
}

.container-fluid > .row > .body-section {
  background-color: white;
  padding: 25px;
  margin: 0 auto;
  /* flex: 1 0 auto;
  height: 100%; */
}

.margin-adjustment {
  margin: 0 auto;
}



.rounded {
  width: 30%;
  margin-right: 20px;
  max-width: 200px;
}

#about-me {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  padding-bottom: 25px;
  border-bottom: 3px solid #DEDEDE;
  margin-bottom: 30px;
}

/* Footer Styling */
.footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 88px;
  background-color: #666666;
  text-align: center;
  line-height: 80px;
  color: white;
  border-top: 8px solid #4aaaa5;
}

.footer > .container > p {
  margin: 0;
}
